$main-dark: #282828;
$sec-dark: #363636;
$white-deep: #FEFFFE;
$cold-white: #f0efeb;
$pale-silver: #CEC3C1;
$main-color: #DE3C4B; 
$alt-color: #DE2C6B;
$main-transition: 0.4s;
$main-padding-top: 100px;
$main-padding-btm: 100px;